.custom-radio-box {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 16px;
    filter: drop-shadow(2px 2px 4px);
    box-shadow: 1px 2px 8px #818a8d;
  }
  
  .radio-input {
    margin-right: 8px;
  }
  
  .radio-label {
    font-size: 16px;
  }
  