.input-container{
    display: flex;
    margin: 4px;
    flex-direction: row;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.input-container-item1{
    flex: 1 0 100px
}
/* GBS-> flex-grow flex-basic flex-shrink */
.input-container-item2{
    flex: 1 0 10%
}