.select-container{
    display: flex;
    margin: 2px;
    flex-direction: row;
    column-gap: 2rem;
    flex-wrap: wrap;
}

.select-container-item1{
    flex: 1 10 1px
}
.select-container-item2{
    
    flex: 1 10 80px
}